@import '../node_modules/bootstrap/scss/bootstrap.scss'


body
   header
      height: 100vh
      width: 100%
      background-color: black

      .header-1
         height: 10vh
         width: 100%
         
         #header-1-col-1
            height: 10vh

            [alt="logo"]
               width: 17%

         #header-1-col-2
            height: 10vh
            color: white
            display: flex
            align-items: center
            
            #col-h-2
               display: flex
               justify-content: center
               align-items: center
               height: 100%
               font-weight: bold

            #col-h-2:hover
               color: #219EC8


   .carousel
      height: 90vh

      .header-black
         width: 100%
         height: 100%

      .carousel-inner
         height: 90vh
