@import '../node_modules/bootstrap/scss/bootstrap.scss'


body
   header
      height: 100vh
      width: 100%
      background-color: black

      .header-1
         height: 10vh
         width: 100%
         
         #header-1-col-1
            height: 10vh

            [alt="logo"]
               width: 17%

         #header-1-col-2
            height: 10vh
            color: white
            display: flex
            align-items: center
            
            #col-h-2
               display: flex
               justify-content: center
               align-items: center
               height: 100%
               font-weight: bold

            #col-h-2:hover
               color: #219EC8

   .carousel
      height: 90vh

      .carousel-inner
         height: 90vh

   .section-1-div-1
      height: 90vh
      padding: 15vh 0

      #section-1-col-1
         height: 60vh

         .col-1-img
            height: 45vh
            width: 45vh
            background-image: url('../img/IMG-20180105.jpg')
            background-size: 150%
            background-position-x: 50%
            position: absolute
            top: 5vh
            left: 10vh
            z-index: 1
      
         .col-1-back
            height: 45vh
            width: 45vh
            background-color: #D8D8D8
            position: absolute
            top: 10vh
            left: 5vh

      #section-1-col-2
         height: 60vh
         padding: 10vh 4vh
         text-align: justify
   
   .section-1-div-2
      height: 90vh
      padding: 15vh
      background-color: #515151

      #div-2-col-1
         height: 65vh
         padding-top: 3vh
         background-color: grey

         .affichage
            margin-bottom: 3vh
            display: flex
            justify-content: center
            margin-bottom: 10vh
            
            #btn1 
               height: 35px
               width: 15%
               border-radius: 10px
               padding-left: 10px
               margin-right: 10px
               border: solid 2px #00AFB4
               color: #00AFB4
               outline: none !important


            #btn1:hover 
               color: white
               background-color: #00AFB4


            #btn2 
               height: 35px
               width: 20%
               border-radius: 10px
               padding-left: 10px
               margin-right: 10px
               border: solid 2px #00AFB4
               color: #00AFB4
               outline:5none !important


            #btn2:hover 
               color: white
               background-color: #00AFB4


            #btn3 
               height: 35px
               width: 25%
               border-radius: 10px
               padding-left: 10px
               border: solid 2px #00AFB4
               color: #00AFB4
               outline: none !important


            #btn3:hover 
               color: white
               background-color: #00AFB4

         .div-2-titre
            background-color: #00ADB2
            color: white
            width: 20vh
      
         .langage1
            display: inline-block
            width: 100%
            margin-bottom: 3vh
            padding-top: 3vh

         .langage1::after 
            content: ""
            background-color: #00ADB2
            width: 0
            height: 3px
            display: block
            transition: width 2s

         .langage1:hover::after 
            width: 95%

         .langage2
            display: inline-block
            width: 100%
            margin-bottom: 3vh

         .langage2::after 
            content: ""
            background-color: #00ADB2
            width: 0
            height: 3px
            display: block
            transition: width 2s

         .langage2:hover::after 
            width: 90%

         .langage3
            display: inline-block
            width: 100%
            margin-bottom: 3vh

         .langage3::after 
            content: ""
            background-color: #00ADB2
            width: 0
            height: 3px
            display: block
            transition: width 2s

         .langage3:hover::after 
            width: 70%

         .langage4
            display: inline-block
            width: 100%
            margin-bottom: 3vh

         .langage4::after 
            content: ""
            background-color: #00ADB2
            width: 0
            height: 3px
            display: block
            transition: width 2s

         .langage4:hover::after 
            width: 85%

         .langage5
            display: inline-block
            width: 100%

         .langage5::after 
            content: ""
            background-color: #00ADB2
            width: 0
            height: 3px
            display: block
            transition: width 2s

         .langage5:hover::after 
            width: 30%

h6
   font-weight: bold

   .droite1
      margin-left: 84%

   .droite2
      margin-left: 87%

   .droite3
      margin-left: 74.5%

   .droite4
      margin-left: 74%

   .droite5
      margin-left: 72%